<mat-toolbar>
  <button
    mat-icon-button
    aria-label="Icon-button with add_circle icon"
    (click)="addRow()"
  >
    <mat-icon>add_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    aria-label="Icon-button with content_copy icon"
    [cdkCopyToClipboard]="copyTableContentAsCSV()"
  >
    <mat-icon>content_copy</mat-icon>
  </button>
  <span class="spacer"></span>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="Turf">
    <th mat-header-cell *matHeaderCellDef>Turf</th>
    <td mat-cell *matCellDef="let element">{{ element.turf }}</td>
  </ng-container>

  <ng-container matColumnDef="Event type">
    <th mat-header-cell *matHeaderCellDef>Event type</th>
    <td mat-cell *matCellDef="let element">{{ element.eventType }}</td>
  </ng-container>

  <ng-container matColumnDef="Reward">
    <th mat-header-cell *matHeaderCellDef>Reward</th>
    <td mat-cell *matCellDef="let element">{{ element.reward }}</td>
  </ng-container>

  <ng-container matColumnDef="Reward Number Roll">
    <th mat-header-cell *matHeaderCellDef>Reward Number Roll</th>
    <td mat-cell *matCellDef="let element">{{ element.rewardNumberRoll }}</td>
  </ng-container>

  <ng-container matColumnDef="NPC Faction">
    <th mat-header-cell *matHeaderCellDef>NPC Faction</th>
    <td mat-cell *matCellDef="let element">{{ element.requiredRoll }}</td>
  </ng-container>

  <ng-container matColumnDef="Required Roll">
    <th mat-header-cell *matHeaderCellDef>Required Roll</th>
    <td mat-cell *matCellDef="let element">{{ element.npcFaction }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
